.contact-container {
  display: flex;
  flex-direction: column;
  justify-content: center;align-items: center;
  
}

.contact-container label {
  padding:20px
}

.btn {
  background-color: #4b6cb7;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.btn:hover {
  background-color: #182848;
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}
